@{
    ViewData["Title"] = "Exchange";
}


<div class="text-center">
    <h1 class="display-4">Exchange</h1>
</div>

<body>
  <div class="container">
    <div class="new"></div>
    <div class="bottom"></div>
  </div>
</body>
